.DS_Store

# Node modules
node_modules/
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
*.tgz

# Playwright test results
e2e/test-results/

# Environment files
.env
.env.local
.env.*.local

# IDE and Editor directories
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jest coverage reports
coverage/
*.lcov